<!DOCTYPE html>
<html>
<head>
    <%- include ../common/head.ejs %>

</head>
    <%- include ../common/nav.ejs %>

<body>
    
    <a class="nav-link" href="/user/writing">글쓰기</a>

    <table class="table table-hover table-bordered">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>등록일</th>
            <th>조회</th>
            <th>추천</th>
        </tr>
    </table>
    
    <%- include ../common/js.ejs %>
</body>
</html>


<script>


</script>
