<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <h1>로그인 입니다</h1>

    <form action="/user/login" method="POST">
        <p>
            id : <input type="text" name="id">
        </p>
        <p>
            pw : <input type="password" name="pw">
        </p>
        <p>
            <button type="submit">로그인</button>
        </p>
    </form>

    <h3>메뉴</h3>
    <ul>
        <li><a href="/">홈</a></li>
        <li><a href="/user/signup">회원가입</a></li>
    </ul>
</body>
</html>