<!DOCTYPE html>
<html>
<head>
    <%- include ../common/head.ejs %>

</head>
    <%- include ../common/nav.ejs %>

<body>
    <form action="/board/writing" method="POST" id="boardForm">
    
        <input type="text" name="title" class="form-control" placeholder="제목">
    
        <textarea type="text" name="content" class="form-control" rows="15" placeholder="내용"></textarea>
    
        <p>
            <button type="submit">작성완료</button>
        </p>

    </form>

    
    <%- include ../common/js.ejs %>
</body>
</html>


<script>



</script>
